@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
.shimmer-button {
  border: none;
  color: white;
  background: linear-gradient(90deg, #4adecf, #8561bd, #4adecf);
  background-size: 200%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-position 0.7s ease;
}

.shimmer-button:hover {
  background-position: -100%;
}
